body{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-evenly;
    margin-top: 100px;
}
input[type="text"]{
    border: 2px solid #0b75b9;
    border-radius: 4px;
    height: 40px;
    width: 400px;
    color: #0b75d9;
    outline-color: #ffd662ff;
}
input[type="button"]{
    border: 2px solid #0b75b9;
    border-radius: 4px;
    height: 30px;
    width: 130px;
    color:white;
    margin-top: 20px;
    background-color: #0b75b9;
    outline-color: #ffd662ff;
}
