*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wheel{
    position: relative;
    height: 500px;
    width: 500px;

}
.wheel:after{
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: url('/sppins js/arrow.png');
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.sa{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 8px solid black;
    overflow: hidden;
    transition: all ease 5s;
}
span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.spa{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: green;
    top: 120px;
    left: 0;

}
.spb{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: orange;
    top: 120px;
    right: 0;
    
}
.spc{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: red;
    left: 120px;
    bottom: 0;
    
}
.spd{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: grey;
    top: 0px;
    left: 120px;
}

.sa2{
    height: 100%;
    width: 100%;
    transform: rotate(-135deg);
}
span strong{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.rotatewheel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #1361f2;
    background-color: #fff;
    color: #1361f2;
    font-weight: bold;
    cursor: pointer;
}
.rotatewheel:active{
    width: 90px;
    height: 90px;
    font-size: 20px;
}
